body:hover{
    margin: 0px;
    padding: 0px;
    background-color: red;
    display: grid;
    p
    /* text-decoration: ; */
    box-shadow: 
    /* border-bottom-left-radius: ; */
    /* grid-template-columns:  */
    /* grid-template-rows: ; */
}